* {
	box-sizing: border-box;
}

body {
	background-color: black;
}

div {
	text-align: center;
	margin: auto;
}

div h1 {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 9rem;
	padding-top: 55px;
}