* {
	box-sizing: border-box;
}

body {
	background-color: #369ed8;
}

div {
	text-align: center;
	margin: auto;
}

div h1 {
	color: black;
	font-family: Arial;
	font-weight: bold;
	font-size: 13rem;
	padding-bottom: 0;
	margin-bottom: 0;
}

div h3 {
	color: black;
	font-family: Arial;
	font-weight: bold;
	font-size: 8rem;
	padding-bottom: 0;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	color: white;
	font-family: Arial;
	font-weight: bold;
	font-size: 3rem;
	padding: 5px;
}

img {
	display: block;
	margin: auto;
	border: 3px solid red;
	image-rendering: pixelated;
	margin-top: 170px;
}